//-----------------------------
// VARIABLES
//-----------------------------

$tile-size: 150px;
$brand-primary: #26283b;
$brand-secondary: #5fb193;
$tile-border-color: #CCCCCC;
$white: #FFFFFF;
$black: #000000;



//-----------------------------
// HTML ELEMENTS
//-----------------------------

body {
  background-color: #26283b;
}



//-----------------------------
// GAME STYLES
//-----------------------------

.heading {
  margin-bottom: 75px;
  text-align: center;
  color: white;
}

.game-container {
  width: 3 * $tile-size;
  margin: 0 auto;
  position: relative;
}

.tile {
  width: $tile-size;
  height: $tile-size;
  float: left;
  line-height: $tile-size;
  font-size: 80px;
  text-align: center;
  border: 1px solid $tile-border-color;
  background-color: $white;
  color: $brand-primary;
}

.backdrop {
  position: absolute;
  width: 452px;
  height: 450px;
  top: 0;
  font-size: 36px;
  line-height: 452px;
  text-align: center;
  color: $white;
  background-color: rgba($brand-secondary, 0.8);
  text-shadow: 0 0 10px rgba($black, 0.6);
}

.restart-game {
  
  text-align: center;
  
  &__btn {
    margin: 25px 0 0;
    background-color: $brand-secondary;
  }
}
